html
  font-size 125% // 20px % 16px, the minimum font-size is 12px in browser

body
  width 100%
  height 100%
  background #ffffff
  color #eee
  font-size 16px
  font-size 0.8rem
  font-family: Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;

.display
  display none

.aw_main
  width 100%
  height auto

.aw_hero
  width 100%
  height 700px

