@-moz-keyframes cursor-blink {
  1% {opacity: 0;}
  40% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 1;}
}
@-webkit-keyframes cursor-blink {
  1% {opacity: 0;}
  40% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 1;}
}
@-o-keyframes cursor-blink {
  1% {opacity: 0;}
  40% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 1;}
}
@keyframes cursor-blink {
  1% {opacity: 0;}
  40% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 1;}
}


@-moz-keyframes aw_aoAmount {
  20% {color: #ed5aa6;}
  40% {color: #5aaded;}
  60% {color: #5aed87;}
  80% {color: #edeb5a;}
  100% {color: #ed615a;}
}
@-webkit-keyframes aw_aoAmount {
  20% {color: #ed5aa6;}
  40% {color: #5aaded;}
  60% {color: #5aed87;}
  80% {color: #edeb5a;}
  100% {color: #ed615a;}
}
@-o-keyframes aw_aoAmount {
  20% {color: #ed5aa6;}
  40% {color: #5aaded;}
  60% {color: #5aed87;}
  80% {color: #edeb5a;}
  100% {color: #ed615a;}
}
@keyframes aw_aoAmount {
  20% {color: #ed5aa6;}
  40% {color: #5aaded;}
  60% {color: #5aed87;}
  80% {color: #edeb5a;}
  100% {color: #ed615a;}
}