.aw_hero
  position relative
  .aw_hero_bg
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    overflow hidden
    background #fff

    img
      display block
      width 100%
      height 100%

.aw_page1_intro
  position absolute
  width 100%
  height auto
  top 0
  left 0
  transition opacity 800ms ease

.aw_brand
  display block
  margin 0 auto
  padding 0
  width 95%
  height auto
  .aw_brand_logo
  .aw_brand_statement
    text-align center

  .aw_brand_logo
    padding 0 5%

  .aw_brand_statement
    margin-top 10px
    margin-top .5rem
    font-size 14px
    font-size .7rem

.aw_aoDo
  display block
  margin 0 auto
  padding 2% 0
  width 95%
  height auto

  .aw_aoDo_list
    text-align center
    font-size 16px
    font-size .8rem

  .aw_aoDo_amount
    color #ed5a6b
    -webkit-animation aw_aoAmount 3s infinite alternate
    -moz-animation aw_aoAmount 3s infinite alternate
    -o-animation aw_aoAmount 3s infinite alternate
    animation aw_aoAmount 3s infinite alternate

  #aw_aoDo_name
    display block
    margin 1rem 0 0 0
    text-align center
    width auto
    color #19aee5
    font-size 20px
    font-size 1rem
    &:after
      -webkit-animation cursor-blink 0.8s linear infinite
      -moz-animation cursor-blink 0.8s linear infinite
      -o-animation cursor-blink 0.8s linear infinite
      animation cursor-blink 0.8s linear infinite
      content "|"
      color #cb3837
      padding-left 3px
    &.disabled:after
      content none


  .aw_aoDo_detail
    padding 14px 0 0 0
    padding .7rem 0 0 0
    text-align center
    font-size 16px
    font-size .8rem

.aw_page1_data
  position absolute
  width 100%
  height auto
  top 0
  left 0
  display none
  transition opacity 800ms ease

.aw_aoDiff
  display block
  margin 0 auto
  padding 5% 0
  width 95%
  height auto

.aw_aoDiff_statement
  text-align center
  p
    font-size 20px
    font-size 1rem
    line-height 1.5

.aw_aoDiff_detail
  position relative
  width 90%
  margin 16px auto
  margin .8rem auto

.aw_aoDiff_item
  position relative
  width 100%
  margin 8px 0
  margin .4rem 0
  text-align center
  clear both

  .aw_aoDiff_item_line
    display none