.aw_hero
  position relative
  .aw_hero_bg
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    overflow hidden
    background #fff

    img
      display block
      width 100%
      height 100%

.aw_page1_intro
  position absolute
  width 100%
  height auto
  top 0
  left 0
  transition opacity 800ms ease

.aw_brand
  display block
  margin 0 auto
  padding 0
  width 95%
  height auto
  .aw_brand_logo
  .aw_brand_statement
    text-align center

  .aw_brand_logo
    padding 0 5%

  .aw_brand_statement
    margin-top 10px
    margin-top .5rem
    font-size 14px
    font-size .7rem
    font-weight normal

.aw_aoDo
  display block
  margin 0 auto
  padding 2% 0
  width 95%
  height auto

  .aw_aoDo_list
    text-align center
    font-size 16px
    font-size .8rem

  .aw_aoDo_amount
    color #ed5a6b
    -webkit-animation aw_aoAmount 3s infinite alternate
    -moz-animation aw_aoAmount 3s infinite alternate
    -o-animation aw_aoAmount 3s infinite alternate
    animation aw_aoAmount 3s infinite alternate

  #aw_aoDo_name
    display block
    margin .5rem 0 0 0
    text-align center
    width auto
    color #fff
    font-size 20px
    font-size 1rem
    &:after
      -webkit-animation cursor-blink 0.8s linear infinite
      -moz-animation cursor-blink 0.8s linear infinite
      -o-animation cursor-blink 0.8s linear infinite
      animation cursor-blink 0.8s linear infinite
      content ""
      color #aaa
      margin-left 3px
      padding-left 2px
      padding-top 1px
      padding-bottom 1px
      background #aaaaaa
    &.disabled:after
      content none


  .aw_aoDo_detail
    padding 18px 0 0 0
    padding .9rem 0 0 0
    text-align center
    font-size 16px
    font-size .8rem

.aw_page1_data
  position absolute
  width 100%
  height auto
  top 0
  left 0
  display none
  transition opacity 800ms ease

.aw_aoDiff
  display block
  margin 0 auto
  padding 5% 0
  width 95%
  height auto

.aw_aoDiff_statement
  text-align center
  p
    font-size 20px
    font-size 1rem
    line-height 1.5

.aw_aoDiff_detail
  position relative
  width 90%
  margin 16px auto
  margin .8rem auto

.aw_aoDiff_item
  position relative
  width 100%
  margin 8px 0
  margin .4rem 0
  text-align center
  clear both

  .aw_aoDiff_item_line
    display none

.aw_ao
  position relative
  .aw_ao_wrap
    width 100%
    height auto
.aw_ao_detail
  width 90%
  margin 20px auto
  margin 1rem auto
  box-shadow 0px 0px 5px 1px #ddd
.aw_ao_img
  display block
  width 100%
  height auto
.aw_ao_intro
  height 150px
  height 7.5rem
  padding 0 16px
  padding 0 .8rem
  background #6699cc
  color #fff
  overflow hidden
.aw_ao_name
  padding-top 10px
  padding-top .5rem
  margin-bottom 10px
  margin-bottom .5rem
  font-size 20px
  font-size 1rem
  font-weight normal
.aw_ao_experience
  h3
    font-size 14px
    font-size .7rem
    font-weight normal
    margin-bottom 6px
    margin-bottom .3rem
  p,ul
    font-size 12px
    font-size .6rem
    line-height 1.5


@media screen and (min-width: $screen-sm-min)
  .aw_brand
    .aw_brand_statement
      font-size 20px
      font-size 1rem

  .aw_aoDo
    .aw_aoDo_list
    .aw_aoDo_detail
      font-size 20px
      font-size 1rem

    #aw_aoDo_name
      display inline-block
      width 200px
      width 10rem
      font-size 40px
      font-size 2rem
      text-align left


  .aw_aoDiff
    .aw_aoDiff_statement
      p
        font-size 30px
        font-size 1.5rem

    .aw_aoDiff_item
      margin 12px 0
      margin .6rem 0
      font-size 20px
      font-size 1rem

  .aw_ao
    .aw_ao_wrap
      width 90%
      margin 0 auto

@media screen and (min-width: $screen-md-min)
  .aw_aoDiff_detail
    position absolute
    top 0
    left 0
    right 0
    width 100%
    max-width 1000px
    max-width 50rem
    margin 0 auto

  .aw_aoDiff_item
    position absolute
    margin 0
    width 25%
    max-width 250px
    max-width 12.5rem
    span
      display block
      margin-bottom 2px
      margin-bottom .1rem
      width 100%
      text-align center
    .aw_aoDiff_item_title
      font-size 12px
      font-size .6rem
    .aw_aoDiff_item_num
      font-size 30px
      font-size 1.5rem
    .aw_aoDiff_item_line
      display block
      height 50px
      height 2.5rem
      width 49%
      max-width 124px
      border-right 1px solid #fff

    &:nth-of-type(1)
      left 0
      top -30px
    &:nth-of-type(2)
      left 25%
      top -80px
    &:nth-of-type(3)
      left 50%
      top -130px
    &:nth-of-type(4)
      right 0
      top -180px

@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max)
  .aw_ao_detail
    float left
    width 49%
    margin-top 16px
    margin-top .8rem
    margin-bottom 16px
    margin-bottom .8rem
    margin-right 2%
    &:nth-of-type(2n)
      margin-right 0
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
  .aw_ao_detail
    float left
    width 32%
    margin-top 16px
    margin-top .8rem
    margin-bottom 16px
    margin-bottom .8rem
    margin-right 2%
    &:nth-of-type(3n)
      margin-right 0
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max)
  .aw_ao_detail
    float left
    width 23.8%
    margin-top 16px
    margin-top .8rem
    margin-bottom 16px
    margin-bottom .8rem
    margin-right 1.6%
    &:nth-of-type(4n)
      margin-right 0