.aw_student
  clear both
  width 100%
  height auto
  padding 20px 0
  padding 1rem 0

.aw_student_statement
  text-align center
  &:before
    content ''
    display block
    margin 0 auto 20px
    margin 0 auto 1rem
    width 75%
    border-bottom solid 1px #d2d2d2;
    text-align center

  h1
    font-size 30px
    color #4c4c4c
    &:after
      content ''
      display block
      margin 20px auto
      margin 1rem auto
      width 100px
      width 5rem
      border-bottom solid 1px #71bcce;
      text-align center
  p
    font-size 16px
    color #6f6f6f

.aw_student_list
  width 100%
  margin 20px auto 0 auto
  margin 1rem auto 0 auto

.aw_student_item
  width 90%
  margin 0 auto 20px auto
  margin 0 auto 1rem auto
  box-shadow 0px 0px 5px 1px #ddd

.aw_student_img
  display block
  width 100%
  height auto
.aw_student_intro
  height 100px
  height 5rem
  padding 0 16px
  padding 0 .8rem
  background #ef786c
  color #fff
  overflow hidden
.aw_student_name
  padding-top 10px
  padding-top .5rem
  margin-bottom 10px
  margin-bottom .5rem
  font-size 20px
  font-size 1rem
  font-weight normal

.aw_student_schoolNow
.aw_student_schoolOffer
  font-size 12px
  font-size .6rem
  line-height 1.5
